@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;

  --color-neon-cyan: #00f0ff;
  --color-neon-purple: #9d00ff;
  --color-slate-gray: #64748b;
  --color-high-alert: #ff2a00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sovereign: #050505;
  --color-neon-cyan: var(--color-neon-cyan);
  --color-neon-purple: var(--color-neon-purple);
  --color-slate-gray: var(--color-slate-gray);
  --color-high-alert: var(--color-high-alert);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}